*{
    background-color: rgb(114, 122, 122);

}
.tituloPrincipal {
    color: aqua;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.link1{
    text-decoration: none;
    color: brown;
}